body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
header {
  background: rgb(241,221,223);
  background: linear-gradient(180deg, rgba(241,221,223,1) 0%, rgba(71,105,48,1) 100%);
  color: white;
}
h1{
  padding: 10px;
}
textarea {
  display: flex;
  align-items: center;
  cursor: default;
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border: 1px solid black;
  padding: 10px;
  border-radius: 15px;
}
#footer {
  text-align: center;
  margin-top: 20px;
}
#time17 {
 border-bottom: 1px solid black;
}
#last-row{
  border-bottom: 1px solid black;
}
.description {
  white-space: pre-wrap;
  border-top: 1px solid black;
}
.time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border: 1px solid black;
  border-radius: 15px;
  margin-left: auto;
  margin-right: 5px;
}
.schedulingTable {
  display: flex;
  flex-direction: column;
}
.row {
  border-top: 1px solid white;
}
.hour {
  background-color: #F1DDDF;
  color: #A94064;
  border-top: 1px solid #000000;
}
.past {
  background-color: #C8B88A;
  color: white;
}
.present {
  background-color: #DEE2FC;
  color: #525B88;
}
.future {
  background-color: #DFF5CE;
  color: #86B049;
}
.saveBtn {
  margin-left: 5px;
  margin-right: auto;
  width: 100px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #525B88;
  color: white;
}
.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
